/* my-theme.scss */
:root {
  --clr-link-active-color: hsl(110, 65%, 57%);
  --clr-link-color: hsl(110, 65%, 57%);
  --clr-link-hover-color: hsl(110, 65%, 57%);
  --clr-link-visited-color: hsl(110, 55%, 75%);
}